@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap");

@font-face {
   font-family: "Proxima Nova Rg";
   src: url("../fonts/ProximaNova-Regular.woff2") format("woff2"),
      url("../fonts/ProximaNova-Regular.woff") format("woff");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Proxima Nova Lt";
   src: url("../fonts/ProximaNova-Light.woff2") format("woff2"), url("../fonts/ProximaNova-Light.woff") format("woff");
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

* {
   font-size: 14px;
   font-style: normal;
   font-family: "Lato", sans-serif;
}

h1 {
   font-size: 50px;
   color: firebrick;
   text-shadow: 5px 3px 3px rgba(206, 6, 6, 0.233);
   font-family: "Montserrat", sans-serif;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 9px;
   font-style: oblique;
}

.title {
   font-size: 40px;
   text-align: center;
   color: firebrick;
   text-shadow: 5px 3px 3px rgba(206, 6, 6, 0.233);
   font-family: "Proxima Nova Rg", sans-serif;
   letter-spacing: 7px;
   font-style: oblique;
   text-decoration: overline;
   text-transform: capitalize;
   word-spacing: 5px;
}

p,
.src {
   text-indent: 30px;
   line-height: 2;
   text-align: left;
   letter-spacing: 2px;
}

.history {
   text-align: center;
   text-indent: 0;
   font-weight: 700;
   color: rgb(179, 79, 96);
   text-shadow: 5px 3px 3px rgba(206, 6, 6, 0.233);
   font-style: oblique;
}

.subtitle.grey {
   font-size: 15px;
   text-decoration: underline;
   color: grey;
   text-shadow: 6px 4px 3px rgba(153, 0, 255, 0.212);
   font-style: oblique;
   text-indent: 0;
}

/* Стилизовал картинки, а то они были сильно большие */

img {
   width: 600px;
   height: auto;
}

.right {
   text-align: right;
   text-indent: 0;
   letter-spacing: 2px;
}

.justify {
   text-align: justify;
   letter-spacing: 2px;
}

span {
   text-decoration: line-through;
   text-transform: lowercase;
}

.src {
   font-size: 30px;
}

.src-link {
   color: rgba(248, 43, 43, 0.514);
   text-shadow: 3px 5px 3px pink;
   text-decoration: underline;
   font-style: oblique;
   font-size: 18px;
   text-align: left;
   letter-spacing: 2px;
}

.list {
   text-align: center;
}

.list .list-item > .list-link {
   color: red;
   font-size: 17px;
   font-family: "Proxima Nova Lt", sans-serif;
   letter-spacing: 3px;
   word-spacing: 1px;
}
